@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,700);
@media screen and (max-width: 1200px) {
body {
font-family:'Hind';
font-weight:300;
text-align:center;
}

nav {
height:70px;
font-family:'Hind';
font-weight: 700;
font-size:1.5em;
padding-top:20px;
background-image:url('/img/tiny_grid.png');
}

nav a {
display:none;
}

header {
display:none;
}

#headtext {
display:none;
}
.mycontainer h1 {
font-family:'Hind';
text-transform:uppercase;
font-weight:300;
font-size:1em;
color:#222;
font-weight:600;
text-align:left;
padding-left:2em;
}	

.project img {
width:100%;
}

.projecttext {
display:none;
}

.projecttext a {
display:none;
}
p {
width:100%;
text-align:left;
font-family:'Hind';
font-size:1em;
padding-left:2em;
padding-right:4em;
}

p a {
border-bottom:thick dotted #04435c;
}

p a {
text-decoration:none;
}

#map {
display:none;
}

.imgbar img {
width:100%;
}

#resume {
transform:translate(0%,20%);
height:10em;
}

.biglink {
text-decoration:none;
background-color:#222;
color:#fff;
border-bottom:none;
padding:20px;
}
	
footer {
height:50px;
background-color:#222;
}
}
@media screen and (min-width: 1200px) {
body {
font-family:'Hind';
font-weight:300;
color:#00706F;
text-align:center;
}

nav {
position:fixed;
width:100%;
top:0;
left:0;
z-index:100;
background-color:#fff;
font-family:'Hind';
font-weight:700;
height:60px;
font-size:1.1em;
text-align:left;
padding:17px 17px 17px 50px;
color:#00706F;
}

nav a {
-webkit-transition:all .7s ease;
transition:all .7s ease;
color:#00706F;
margin-right:30px;
padding:10px;
}

nav a:hover,nav a:focus {
background-color:#04435c;
text-decoration:none;
color:#EEFF9B;
padding:10px;
}

#space {
height:60px;
}

header {
background-image:url(/img/merp.jpg);
background-size:cover;
background-position:0 -200px;
height:350px;
}

#headtext {
position:absolute;
height:400px;
top:60%;
left:50%;
transform:translate(-50%,-50%);
font-family:'Hind';
color:#EEFF9B;
text-transform:uppercase;
}

#headtext h1 {
font-size:3.45em;
letter-spacing:4px;
font-weight:700;
}

#headtext i {
margin-top:20px;
color:#EEFF9B;
animation:bounce 2s infinite;
-webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-o-animation:bounce 2s infinite;
}

.mycontainer {
font-family:'Hind';
font-weight:300;
font-size:1.4em;
padding-top:20px;
padding-bottom:20px;
}

.mycontainer h1 {
color:#00706F;
font-weight:700;
}

.project {
position:relative;
}
	
.project h1 {
color:#fff;
}

.project img {
width:100%;
}

.project img:hover,.projecttext:hover + img {
-webkit-filter:sepia(1) brightness(30%) hue-rotate(140deg) saturate(200%);
filter:sepia(1) brightness(20%) hue-rotate(130deg) saturate(200%);
-webkit-transition:all .1s ease-out;
transition:all .1s ease-out;
}

.projecttext {
z-index:90;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:#fff;
}

.projecttext a {
color:#00706F;
background-color:#fff;
font-size:.7em;
padding:10px;
}

.projecttext a:hover {
font-family:'Hind';
font-weight:300;
text-align:center;
color:#EEFF9B;
background-color:#04435c;
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;
text-decoration:none;
}

p {
width:100%;
padding-left:10em;
padding-right:10em;
color:#00706F;
}
.imgbar {
margin-top:50px;
}
.imgbar img {
width:100%;
}
#map {
position:relative;
width:40em;
margin:auto;
padding-bottom:20px;
}

.pin {
display:inline-block;
width:10em;
}
	
.place {
display:inline-block;
margin:10px;
}
	
.cityname {
font-family:'Hind';
font-weight:700;
font-size:1.5em;
letter-spacing:2px;
text-transform:uppercase;
color:#fff;
padding:10px;
margin-top:-60px;
}

.biglink {
-webkit-transition:all .5s ease;
transition:all 1s ease;
border-bottom:thick dotted #00706F;
color:#00706F;
font-weight:700;
}

.biglink:hover {
color:#EEFF9B;
text-decoration:none;
background-color:#04435c;
border-bottom:none;
padding:8px;
}

.projcontainer {
text-align:left;
}

.projcontainer h1 {
padding-left:2.7em;
}

.projcontainer p {
padding-left:5em;
padding-right:0em;
font-size:0.7em;
}

.projcontainer a {
color:#00706F;
border-bottom:dotted #00706F;
}

.projcontainer a:hover {
border-bottom:none;
text-decoration:none;
}

.col-sm-5 img {
padding-bottom:10px;
}

footer {
height:50px;
background-color:#00706F;
}
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-20px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-10px);}
 60% {-moz-transform: translateY(-5px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-10px);}
 60% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-10px);}
 60% {transform: translateY(-5px);}