@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@media screen and (max-width: 1200px) {
body {
width:100%;
font-family:'Brandon Grotesque';
font-weight:300;
color:#222222;
text-align:center;
}
	
nav {
width:100%;
z-index:100;
background-color:#fff;
font-family:'Brandon Grotesque';
font-weight:800;
height:4em;
font-size:1.3em;
color:#222222;
text-transform:uppercase;
padding-top:1.5em;
text-align:center;
}
	
.links {
display:none;
}

.name {
text-transform:uppercase;
letter-spacing:.2em;
}
.project img {
width:100%;
}
.projecttext {
display:none;
}
.projecttext a {
display:none;
}
p {
width:100%;
text-align:left;
font-family:'Open Sans';
font-size:1em;
padding-left:2em;
padding-right:4em;
}
.projheader {
font-family:'Brandon Grotesque';
font-weight:800;
padding-top:2em;
text-align:center;
margin:auto;
width:90%;
}

.projheader h1 {
font-weight:800;
text-transform:uppercase;
letter-spacing:.1em;
}
	
.projheader p {
font-weight:400;
font-size:1em;
}

.linkcontainer {
width:100%;
display:block;
text-align:center;
padding:1.5em;
letter-spacing:.1em;
line-height:2.8em;
}
.proj-link {
font-family:'Brandon Grotesque';
font-weight:500;
text-decoration:none;
background-color:#222;
color:#fff;
border-bottom:none;
padding:10px;
}

.projcontainer {
text-align:left;
width:90%;
margin:0 auto;
}	
	
.projcontainer img {
padding:1.5em;
width:90%;
display: block;
margin-left: auto;
margin-right: auto; 
}	
	
.projcontainer p {
font-size: 1em;
padding:
}	
	
footer {
height:50px;
background-color:#222;
}
}
@media screen and (min-width: 1200px) {
body {
width:100%;
font-family:'Brandon Grotesque';
font-weight:300;
color:#222222;
text-align:left;
}

#da {
width:80%;
margin:auto;
padding:5em;
}	
	
nav {
width:100%;
top:0;
left:0;
z-index:100;
background-color:#fff;
font-family:'Brandon Grotesque';
font-weight:800;
height:50px;
font-size:1.3em;
color:#222222;
text-transform:uppercase;
}

.links a {
font-weight:400;
color:#222222;
letter-spacing:.2em;
font-size:.9em;
padding:10px;
}

.links a:hover,.links a:focus {
border-bottom:solid;
text-decoration:none;
color:#222222;
-webkit-transition:all .3s ease;
transition:all .3s ease;
}

.name {
text-transform:uppercase;
letter-spacing:.2em;
}

.mycontainer {
font-family:'Open Sans';
font-weight:400;
font-size:1em;
padding-top:2em;
}

.mycontainer h1 {
font-family:'Brandon Grotesque';
font-family:700;
color:#222222;
font-weight:800;
font-size:1.7em;
text-transform: uppercase;
margin-bottom:1em;
}

.img-row {
  display: flex;
  justify-content: space-between;
	margin-bottom:1.5em;
}
	
.project {
position:relative;
float:left;
width:50%;
}
	
.project + .project {
	margin-left:2.5em;
	margin-bottom:1em;
}
.project h1 {
font-size:1.4em;
color:#fff;
text-align:center;
}

.project img {
width:100%;
}

.project img:hover,.projecttext:hover + img {
-webkit-filter:grayscale(1) brightness(30%);
filter:grayscale(1) brightness(30%);
-webkit-transition:all .1s ease-out;
transition:all .1s ease-out;
}

.projecttext {
z-index:90;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:#fff;
letter-spacing:.2em;
}

.projecttext a {
color:#222222;
background-color:#fff;
font-size:.7em;
padding:10px;
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;
}

.projecttext a:hover {
font-family:'Brandon Grotesque';
font-weight:300;
text-align:center;
color:#222222;
background-color:#04435c;
text-decoration:none;
}
.projheader {
font-family:'Brandon Grotesque';
font-weight:800;
padding-top:20px;
padding-bottom:20px;
text-align:center;
margin:auto;
}
	
.projheader h1 {
font-weight:800;
text-transform:uppercase;
letter-spacing:.1em;
}
	
.projheader p {
font-weight:400;
font-size:1.3em;
}
.imgbar {
margin-top:50px;
}
.imgbar img {
width:100%;
}

.linkcontainer {
display:block;
text-align:center;
font-family:'Brandon Grotesque';
font-weight:700;
padding:2em;
letter-spacing:.1em;
}
	
.proj-link {
-webkit-transition:all .5s ease;
transition:all 1s ease;
text-decoration:none;
background-color:#222222;
color:#ffffff;
border-bottom:none;
padding:15px;

}

.proj-link:hover {
text-decoration:none;
background-color:#fff;
color:#222222;
border-bottom:none;
padding:6px;
}

.projcontainer {
text-align:left;
width:100%;
margin:0 auto;
}
	
.projcontainer img {
padding-top:5em;
padding-bottom:5em;
width:100%;
display: block;
margin-left: auto;
margin-right: auto; 

}

.projcontainer p {
font-size:.9em;
}

footer {
height:50px;
background-color:#222222;
}
}
@font-face {
 font-family: 'Brandon Grotesque';
 font-style: normal;
 font-weight: 400;
 src: local('Brandon Grotesque Regular'), url(brandon_re-webfont.woff) format('woff'), url(brandon_re-webfont.woff2) format('woff2');
}
@font-face {
 font-family: 'Brandon Grotesque';
 font-style: normal;
 font-weight: 500;
 src: local('Brandon Grotesque Medium'), url(brandon_med-webfont.woff) format('woff'), url(brandon_med-webfont.woff2) format('woff2');
}
@font-face {
 font-family: 'Brandon Grotesque';
 font-style: normal;
 font-weight: 700;
 src: local('Brandon Grotesque Bold'), url(brandon_bld-webfont.woff) format('woff'), url(brandon_bld-webfont.woff2) format('woff2');
}
@font-face {
 font-family: 'Brandon Grotesque';
 font-style: normal;
 font-weight: 800;
 src: local('Brandon Grotesque Black'), url(brandon_blk-webfont.woff) format('woff'), url(brandon_blk-webfont.woff2) format('woff2');
}