@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@media screen and (min-width:800px) {
body {
width:100%;
font-family:'DINPro';
font-weight:400;
color:#fff;
margin:0;
padding:0;
background-color:#fff;
}
header {
background-image:url("/img/givingup copy.jpg");
background-size:100%;
background-repeat:no-repeat;
background-position:center top;
height:100vh;
position:relative;
}
#title {
	text-transform: uppercase;
	padding:1em;
	font-size:2.5em;
	font-weight:700;
	position:absolute;
  letter-spacing:.4em;
	white-space:nowrap;
	top:50%;
  left:50%;
	transform: translate(-50%, -50%);
	color:#fff;
}
.bai {
	padding:4em;
	background-color:#fff;
	color:#222;
	position:relative;
}
#intr p {
	font-size:1.2em;
	margin-top:-1em;
}
.lan {
	padding:4em;
	background-color:#fff;
	color:#222;
	overflow:hidden;
}
#self {
	float:right;
  width:20em;
	padding-left:8em;
}
h2 {
	font-size:2.5em;
}
.lan a {
	color: #222;
}
.lan p {
	font-size:1.2em;
}
.circle {
	background-color:#222;
	width:2em;
	height:2em;
  -webkit-transition-duration: .75s;
  transition-duration: .75s;
  z-index:2;
  position:absolute;
	transition-timing-function: ease-in-out;
	overflow:hidden;
	border-bottom: 3px solid transparent;
}
.circle:hover {
  width:15em;
  height:10em;
}
.circle p {
	color:#fff;
	padding:1em;
}
.circle a{
	color:#fff;
}
svg {
	width:100%;
	position:relative;
	z-index:1;
	padding-top:5em;
}
#yi {
	top:24%;
	left:44%;
}
#er {
	top:40%;
	left:45%;
}
#san {
	top:50%;
	left:16%;
}
#si {
	top:70%;
	left:60%;
}
#wu {
	top:75%;
	left:16%;
}
#liu {
  top:83%;
	left:28%;
}
/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover, .hvr-skew-forward:focus, .hvr-skew-forward:active {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
}
#selp {
	display:none;
}
}
@media screen and (max-width:800px) {
body {
width:100%;
font-family:'DINPro';
font-weight:400;
margin:0;
padding:0;
background-color:#bd2a3c;
}
header {
background-image:url("/img/hk-xl.jpg");
background-size:100%;
background-repeat:no-repeat;
background-position:center bottom;
height:100vh;
position:relative;
}
#title {
	text-transform: uppercase;
	padding:1em;
	font-size:2em;
	font-weight:700;
	position:absolute;
	top:1.5em;
	left:0;
	letter-spacing:.2em;
	color:#fff;
}
.bai {
	padding:1em;
	background-color:#fff;
	color:#133b93;
}
.lan {
	padding:1em;
	background-color:#133b93;
	color:#ffc2b4;
}
svg {
	display:none;
}
#self {
	display:none;
}
#selp {
	display:inline-block;
	padding-top:3em;
  width:60%;	
}
h2 {
	font-size:2.5em;
}
p {
	font-size:1.2em;
	margin-right:2em;
}
.lan a {
	color: #ffc2b4;
}
}
@font-face {
 font-family: 'DINPro';
 font-style: normal;
 font-weight: 700;
 src: local('DINPro Bold'), url(DINPro-Bold.woff) format('woff'), url(DINPro-Bold.woff2) format('woff2');
}
@font-face {
 font-family: 'DINPro';
 font-style: normal;
 font-weight: 400;
 src: local('DINPro Regular'), url(DINPro-Regular.woff) format('woff'), url(DINPro-Regular.woff2) format('woff2');
}
@font-face {
 font-family: 'DINPro';
 font-style: normal;
 font-weight: 300;
 src: local('DINPro Light'), url(DINPro-Light.woff) format('woff'), url(DINPro-Light.woff2) format('woff2');
}